DATABASE_URL=postgresql://senal_de_vida:senal_de_vida@localhost:5432/senal_de_vida?schema=public
DIRECT_URL=postgresql://senal_de_vida:senal_de_vida@localhost:5432/senal_de_vida?schema=public
PORT=4000
